.box {
  width: 43px;
  height: 43px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  margin-right: 7px;
  font-size: 5px;
} 

.boxloader {
  margin-top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}